{% extends "base.html" %}

{% block content %}

<h1>Login To Your Account</h1>
<form method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
  <a href="{{ url_for('login.forgot_password') }}">Forgot your password?</a>
  <a href="{{ url_for('login.signup') }}">Sign Up</a>
</form>

{% endblock %}
